{% extends 'base.html' %}

{% block content %}
<div class="std-format" id="posts">
  <table class="post-group">
    <tbody>
      {% for g in groups %}
      <tr class="group-heading">
        <th colspan="2"> {{ group_qual(g) }} </th>
      </tr>
      {% for post in g.posts %}
      <tr class="post-item">
        <td class="post-ts">
          {{ format_post_ts(post.ts) }}
        </td>
        <td>
          <a href="{{ '/' + post.out_path }}">
            {{ post.title }}
          </a>
        </td>
      </tr>
      {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
