{% extends 'base.html' %}

{% block content %}
<div id="posts">
  <h3> Posts </h3>
  <table class="post-group">
    <tbody>
      {% for g in groups %}
      <tr class="group-heading">
        <th colspan="2"> {{ group_qual(g) }} </th>
      </tr>
      {% for post in g.posts %}
      <tr class="post-item">
        <td class="post-day">
          {{ date_ordinal(post.ts.tm_mday) }}
        </td>
        <td>
          <a href="{{ post.out_path }}">
            {{ post.title }}
          </a>
        </td>
      </tr>
      {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
