{% extends 'base.html' %}
{% block title %}
{{ post.title }} - {{ super() }}
{% endblock %}
{% block imports %}
{{ super() }}
<link rel="stylesheet" href="/static/pygments.css">
{% if 'mathjax' in post.exts %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {}});
</script>
<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}
{% endblock %}
{% block content %}
    <article class="std-format">
        <div class="post-header">
          <h1>{{ post.title }}</h1>
            <time datetime="{{ format_date(post.ts) }}">{{ readable_date(post.ts) }}</time>
        </div>
        {{ post.html }}
    </article>
{% endblock %}
